<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings file="secrets.config">
    <add key="testSetting1" value="true"/>
  </appSettings>
  <connectionStrings configSource="connectionstrings.config">
  </connectionStrings>
</configuration>